
#choix-delib-wrapper {
	padding-left: 20px;
}
#choix-delib-wrapper .btn{
	margin-left: 20px;
}

#student-delib-marg {
	margin-bottom: 20px;
}

.pull-right {
	margin-left: 100px;
}

.pull-right-buttom {
	margin-left: 800px;
	margin-bottom: 10px;
}
#deliberation-wrapper .header-list {
	background-color: #006df0;
	color: #fff;
	height: 42px;
    padding-left: 10px;
}
#deliberation-wrapper .header-list h4 {
	padding-top: 10px;
}
#deliberation-wrapper .header-list label[for=choixParcoursDelib] {
	margin-left: 20px;
}
#deliberation-wrapper .header-list select {
	color: #000;
}
