#level-student{
	margin-left: 600px;
	margin-top: -80px;
}

#result {
	margin-left: 350px;
	margin-top: 60px;
}

#univ-year-and-cycle {
	margin-left: 900px;
	margin-top: -140px;
}

#university-name, #result-current-student, #jury-member, #jury-president {
	margin-left: 20px;
}

#about-student {
	margin-left: 20px;
	margin-top: 70px;
}

table {
	margin-left: 20px;
	width: 90%;
}

#jury-president {
	margin-top: -35px;
	margin-left: 600px;
}