#level-student{
	margin-left: 600px;
	margin-top: -80px;
}

#result {
	margin-left: 400px;
	margin-top: 50px;
}

#univ-year-and-cycle {
	margin-left: 800px;
	margin-top: -160px;
}

#university-name {
	margin-left: 20px;
}

#about-student {
	margin-left: 120px;
	margin-top: 70px;
}