#level-student{
	margin-left: 300px;
	margin-top: -70px;
}

#result {
	margin-left: 120px;
	margin-top: 60px;
	margin-bottom: 60px;
}

#univ-year-and-cycle {
	margin-left: 600px;
	margin-top: -200px;
}

#university-name {
	margin-top: -70px;
}

#university-name {
	margin-top: -70px;
}

#university-name, #result-current-student, #jury-member, #jury-president {
	margin-left: 20px;
}

#about-student {
	margin-left: 20px;
	margin-top: 70px;
}

table {
	margin-left: 20px;
	width: 90%;
}

#jury-president {
	margin-top: -35px;
	margin-left: 500px;
}