#choix-saisie-wrapper {
	padding-top: 20px;
}
#choix-saisie-wrapper select {
	width: 50%;
}
.box-starter {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid;
}
.box-starter .btn-group {
	width: 100% !important;
}
.box-starter h4{
	text-align: center;
}
.form-group.form-inline label{
	margin-left: 20px;
}
#success-saisie, #error-saisie {
	position: fixed;
    padding: 5px;
    left: 40%;
    display: none;
}
#table-saisie {
	width: auto;
}
#table-saisie th {
	background-color: #17a2b8;
	color: #fff;
}
#table-saisie .nom_prenom {
	width: 300px;
}
#table-saisie .exam {
	width: 100px;
	text-align: center;
}
#table-saisie input {
	width: 90px;
	border: none;
	background: none;
	text-align: right;
}
#table-saisie input:focus {
	background: #fff;
}
#table-saisie .row-student.active td {
	background-color: #d2dff3;
}
#table-saisie .row-student input.hasError {
	border: 1px solid #b00 !important;
    color: #b00 !important;
}
.input-wrapper {
	position: relative;
}
.input-wrapper .glyphicon {
	position: absolute;
    top: 30%;
    display: none;
}
.input-wrapper .glyphicon-ok-sign {
	color: #090;
}
.input-wrapper .glyphicon-warning-sign {
	color: #b00;
}