.header-list {
	position: relative;
}
#search-container {
	position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
}
#search-container label {
	position: absolute;
    right: 10px;
    top: 30%;
    color: #999;
    cursor: pointer;
}