#form-save-student .tab-pane {
	padding-top: 10px;
}
#subscription select {
	width: 50%;
}
#form-save-student input.form-control, #form-save-student select.form-control {
	width: 45%;
}
.card {
	padding: 12px;
}
#choixUY {
	margin-right: 20px;
}
div.pagination {
	text-align: right;
    width: 100%;
}