#form-save-student .tab-pane {
	padding-top: 10px;
}
#subscription select {
	width: 50%;
}
#form-save-student input.form-control, #form-save-student select.form-control {
	width: 45%;
}
.card {
	padding: 12px;
}
#choixUY {
	margin-right: 20px;
}
div.pagination {
	text-align: right;
    width: 100%;
}
.header-list {
	position: relative;
}
#search-container {
	position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
}
#search-container-subscription {
	position: absolute;
    width: 40%;
    top: 0;
    left: 20%;
}
#search-container label, #search-container-subscription label {
	position: absolute;
    right: 10px;
    top: 30%;
    color: #999;
    cursor: pointer;
}
#main-wrapper, .main-wrapper {
	padding-left: 20px;
}
#photo-upload-container {
	text-align: center;
	width: 100% !important;
}

#cropper-control {
	text-align: center;
    padding: 10px;
}
.file-field input[type=file] {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
