.ec .libelle {
	padding-left: 40px;
}
.ec td {
	background-color: #eee;
}
.ec i.glyphicon {
	margin-right: 10px;
	cursor: pointer;
}
.edit-ec {
	color: #009;
}
.delete-ec {
	color: #900;
}
.form-inline select {
	margin-right: 20px;
}
.ue-margin {
	margin-top: 15px;
}
.alert-course-period {
	position: fixed;
    top: 130px;
    left: 40%;
    display: none;
}