#form-my-account input, #form-my-account select {
	width: 60%;
}
.edit-account {
	display: none;
}
#form-my-account h1 {
	margin-bottom: 20px;
	margin-left: 15px;
}
.thePaddingProf {
	 padding-bottom: 10px;
}
div.pagination {
	text-align: right;
    width: 100%;
}
.header-list {
	position: relative;
}
#search-container {
	position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
}
#search-container-subscription {
	position: absolute;
    width: 40%;
    top: 0;
    left: 20%;
}
#search-container label, #search-container-subscription label {
	position: absolute;
    right: 10px;
    top: 30%;
    color: #999;
    cursor: pointer;
}